.snap-container-horizontal {
	height: 400px;
	width: 500px;
	scroll-snap-type: x mandatory;
	border: solid red;
	overflow-x: scroll;
	overflow-y: hidden;
	display: flex;
	z-index: 1;
}

.snap-container-horizontal::-webkit-scrollbar {
	display: none;
}

.snap-page-horizontal {
	flex: none;
	height: 100%;
	width: 100%;
	scroll-snap-align: start;
}

#home-main {
	width: 100%;
	position: relative;
	display: flex;
	justify-content: space-evenly;
}

#map-a {
	z-index: 1;
}

#map-location {
	height: 400px;
	width: 500px;
	border: 6px solid var(--highlightyellow);
	border-radius: 16px;
	transition: 0.3s ease-in-out;
}

#map-location:hover {
	border: 6px solid var(--darkhighlightyellow);
}

#home-svg {
	position: absolute;
	top: 50%;
}

#home-main-gradient {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50%;
	background-image: linear-gradient(
		to right,
		var(--gradientyellow),
		var(--gradientpink)
	);
}
