@font-face {
	font-family: myFont;
	src: url(passionate.otf);
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.App {
	position: relative;
	height: 100vh;

	--bgyellow: #fef7dd;
	--highlightyellow: #ffecd1;
	--medhighlightyellow: #fae6ca;
	--darkhighlightyellow: #f8e1c2;
	--extradarkhighlightyellow: #e9d0af;
	--gradientyellow: #fdf6c3;

	--lighthighlightred: #ecaba4;
	--textred: #e8a39b;
	--highlightred: #f4918c;

	--gradientpink: #ffe1e1;

	--logoteal: #b3f8ed;
	--gradientteal: #dcf0fa;

	--logopurple: #8d44d2;
	--bgpurple: #dbb9f2;
	--gradientpurple: #edd7fb;
	--darkgradientpurple: #b999ce;
}
