.snap-container {
	position: absolute;
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
	width: 100%;
	height: 100%;
	background-color: var(--bgyellow);
}

.snap-page {
	scroll-snap-align: start;
	height: 100%;
	width: 100%;
}
