.snap-container-vertical {
	position: absolute;
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
	overflow-y: scroll;
	width: 100%;
	height: 100%;
	background-color: var(--bgyellow);
}

.snap-page-vertical {
	scroll-snap-align: start;
	scroll-snap-stop: always;
	display: flex;
	height: 100%;
	width: 100%;
}

.snap-container-vertical::-webkit-scrollbar {
	display: none;
}
