.snap-container-vertical {
	position: absolute;
	scroll-behavior: smooth;
	width: 100%;
	background-color: var(--bgyellow);
}

.snap-page-vertical {
	scroll-snap-align: start;
	scroll-snap-stop: always;
	display: flex;
	height: 100vh;
	width: 100%;
}

.snap-container-vertical::-webkit-scrollbar {
	display: none;
}

@media (max-width: 999px) {
}

@media (min-width: 1000px) {
	.snap-container-vertical {
		scroll-snap-type: y mandatory;
		overflow-y: scroll;
		height: 100%;
	}

	.snap-page-vertical {
		/* height: 100%; */
	}
}
